<!-- Rodapé da página com informações e links úteis -->
<footer>
  <div class="page-inner-content footer-content">
    <section class="download-options">
      <p>Baixe nosso aplicativo</p>
      <p>Baixe nosso aplicativo para Android e iOS</p>
      <p></p>
      <div>
        <a href="#"
          ><img src="../../../assets/play-store.png" alt="Google Play"
        /></a>
        <a href="#"
          ><img src="../../../assets/app-store.png" alt="Apple Store"
        /></a>
      </div>
    </section>

    <section class="logo-footer">
      <h1 class="logo">Food<span>Mania</span></h1>
      <p>
        Descubra o poder da nutrição com informações precisas e acessíveis,
        sempre ao seu alcance.
      </p>
    </section>

    <section class="links-footer">
      <h3>Links úteis</h3>
      <ul>
        <li><a href="#">Cupons</a></li>
        <li><a href="#">Blog Post</a></li>
        <li><a href="#">Políticas</a></li>
        <li><a href="#">Faça parte da equipe</a></li>
      </ul>
    </section>
  </div>
  <hr class="page-inner-content" />
  <section class="page-inner-content copyright">
    <p>&#169; 2024 - Kaik Bomfim - Todos os Direitos Reservados</p>
  </section>
</footer>
