.food-card {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem; /* Bordas arredondadas */
  padding: 1rem; /* Espaçamento interno */
  width: 300px; /* Largura fixa */
  box-shadow: 0 0 15px var(--primary-box-shadow); /* Sombra */
  cursor: pointer; /* Cursor de ponteiro */
  transition: all 0.2s ease-out; /* Transição suave */
  &:hover {
    transform: translateY(-5px); /* Efeito de elevação no hover */
  }
}

/* Imagem dentro do card de alimento */
.food-card img {
  max-width: 100%; /* Largura máxima da imagem */
  border-radius: 0.5rem; /* Bordas arredondadas */
  margin-bottom: 1rem; /* Espaçamento inferior */
}

/* Parágrafo dentro do card de alimento */
.food-card p {
  margin: 0.5rem 0; /* Margens superior e inferior */
  text-align: center; /* Alinhamento centralizado */
}
