/* Imagem dentro do card de alimento */
.food-card img {
  max-width: 100%; /* Largura máxima da imagem */
  border-radius: 0.5rem; /* Bordas arredondadas */
  margin-bottom: 1rem; /* Espaçamento inferior */
}

/* Parágrafo dentro do card de alimento */
.food-card p {
  margin: 0.5rem 0; /* Margens superior e inferior */
  text-align: center; /* Alinhamento centralizado */
}
