/* Feedbacks */
.feedbacks-inner-content {
  max-width: 1280px; /* Largura máxima */
  margin: 0 auto; /* Centraliza horizontalmente */
}

.feedbacks {
  display: flex;
  padding: 4rem 1rem; /* Espaçamento interno */
}

.feedbacks app-feedback {
  margin-right: 2rem;
}

.section-title {
  text-align: center; /* Centraliza o texto */
  margin-top: 4rem; /* Espaçamento superior */
  font-size: 1.8rem; /* Tamanho da fonte */
  font-weight: bold;
}

/* Media Queries */
@media (max-width: 800px) {
  .feedbacks {
    flex-direction: column;
  }

  .section-title {
    font-size: 1rem; /* Tamanho da fonte no mobile */
  }
}
